body {
  background-color: black;
  text-align: center;
  color: rgb(230, 230, 230);
}

img {
  width: 40%;
}
.botones{
  margin-top: 50px;
}
.botones div {
  height: 15%;
}

h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.2em;
}

.botones div a {
  display: block;
  height: 90%;
  width: 100%;
  text-decoration: none;
  color: rgb(65, 173, 173);
  font-size: 3em;
  margin: 15px 0px;
}
.botones div a:hover {
  background-color: rgb(65, 173, 173);
  color: black;
  font-size: 3.8em;
  transition: all;
  transition-duration: 600ms;
}
